.item-container {
    display:flex;
    align-items: center;
    align-content: center;
    margin:30px;
    flex-direction: column;
}
.item-container > div > img {
    height: 150px;
}
.item-container > div {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}
.item-container > div > div {
    margin:20px;
}

.item-container > div > button {
    border-radius: 5px;
    border-width: 0px;
    margin:10px;
    padding:5px;
}